body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#renderCanvas {
  width: 100vw;
  height: 100vh;
  display: block;
  touch-action: none;
}

#joystick {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 10;
}

#fullscreenBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
  padding: 10px 20px;
}
